<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>{% if page.subtitle %}{{ page.subtitle }} &bull; {% endif %}{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}css/global.css" />
  </head>
  <body>
    <div class="wrapper">
      {{ content }}
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
  </body>
</html>
