---
title:  CKAN Style Guides
layout: base
---
<header>
  <h1>{{ page.title }}</h1>
  <p>CKAN styles for HTML, CSS &amp; JavaScript</p>
  <p class="view"><a href="http://github.com/okfn/ckan">Contribute via GitHub <small>github.com/okfn/ckan</small></a></p>
  <ul>
    <li><a href="{{ site.baseurl }}styleguide/html/">View <strong>HTML</strong></a></li>
    <li><a href="{{ site.baseurl }}styleguide/css/">View <strong>CSS</strong></a></li>
    <li><a href="{{ site.baseurl }}styleguide/javascript/">View <strong>JavaScript</strong></a></li>
  </ul>
</header>
<section>
  {{ content }}
</section>
